[project]
	description = Bird observation application for Maemo 5 in Python and Qt
[access "refs/*"]
	owner = group user/Joona Lehtomäki (jlehtoma)
[access "refs/for/refs/*"]
	read = group user/Joona Lehtomäki (jlehtoma)
	push = group user/Joona Lehtomäki (jlehtoma)
	label-Code-Review = -2..+2 group user/Joona Lehtomäki (jlehtoma)
	label-Verified = -1..+1 group user/Joona Lehtomäki (jlehtoma)
	rebase = group user/Joona Lehtomäki (jlehtoma)
	removeReviewer = group user/Joona Lehtomäki (jlehtoma)
	submit = group user/Joona Lehtomäki (jlehtoma)
[access "refs/heads/*"]
	read = group user/Joona Lehtomäki (jlehtoma)
	create = group user/Joona Lehtomäki (jlehtoma)
	push = +force group user/Joona Lehtomäki (jlehtoma)
	pushMerge = group user/Joona Lehtomäki (jlehtoma)
[access "refs/tags/*"]
	push = +force group user/Joona Lehtomäki (jlehtoma)
	pushTag = group user/Joona Lehtomäki (jlehtoma)
	pushSignedTag = group user/Joona Lehtomäki (jlehtoma)
